form,form div,#reformArea{
	display: flex;
	flex-direction: column;
}

#choose,#result{
	display: flex;
	justify-content: space-around;
	margin-bottom: 30px;
}

form div,.graph{
	margin-bottom: 30px;
}

#thanks,#thanks img{
	width: 100%;
}